body {
    margin: 0;
    font-family: Arial;
    overflow: hidden;
    background: #0f172a;
    color: white;
}

/* TOP */
.topBar {
    padding: 15px;
}

.balanceBlock {
    display: flex;
    align-items: center;
    gap: 15px;
}

.balance {
    font-size: 28px;
    color: #00ff88;
}

/* мини кнопки */
.miniMenu {
    display: flex;
    gap: 8px;
}

.miniMenu button {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    background: rgba(255,255,255,0.1);
    color: white;
}

/* MENU */
.menu {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu button {
    background: rgba(255,255,255,0.05);
    border: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
}

.play {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #00ff88;
}

/* GAME */
#gameScreen {
    display: none;
    position: fixed;
    inset: 0;
}

/* FIELD */
.field {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #15803d, #22c55e);
}

/* BALL */
.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 100px;
    bottom: 150px;
    background: radial-gradient(circle at 30% 30%, white, #ccc);
}

/* OBSTACLE */
.obstacle {
    position: absolute;
    width: 50px;
    height: 90px;
    bottom: 0;
    background: red;
}

/* UI */
.ui {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

#score {
    font-size: 40px;
    color: #00ff88;
}

/* START */
#startScreen {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn {
    padding: 15px 30px;
    font-size: 20px;
    background: #00ff88;
    border: none;
    border-radius: 12px;
}
#gameScreen {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

.ball {
    position: absolute;
    left: 100px;
    bottom: 150px;
}